Utilities/.vs/Utilities/v17/DocumentLayout.backup.json
Utilities/.vs/Utilities/FileContentIndex/b60ff316-b63c-4ad3-94a4-65a007b7b7e0.vsidx
Utilities/.vs/Utilities/FileContentIndex/cf4b5979-675b-49ba-938a-850ef7d2632f.vsidx
Utilities/.vs/Utilities/v17/.suo
Utilities/.vs/Utilities/v17/DocumentLayout.json
Utilities/Utilities/bin/Debug/netstandard2.1/Utilities.dll
Utilities/Utilities/bin/Debug/netstandard2.1/Utilities.pdb
Utilities/Utilities/obj/project.assets.json
Utilities/Utilities/obj/project.nuget.cache
Utilities/Utilities/obj/
*.vsidx
